@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-navColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-icons {
  color: #9ca3af;
  @apply fill-gray-400;
}

.gray-icons {
  @apply fill-gray-400 group-hover:fill-blue-500;
}

.destructive-icons {
  @apply fill-red-500;
}

.save-icons {
  @apply fill-white;
}

.black-icons {
  @apply fill-gray-600 group-hover:fill-blue-500;
}
